<h1> Edit Account </h1>

<%= form_tag "/users/#{@user.id}", method: :patch do %>

  <div>
    Name: <input type="text" name="username" value="<%= @user.username %>">
  </div>
  <div>
    Email: <input type="email" name="email" value="<%= @user.email %>">
  </div>
  <div>
    Password: <input type="password" name="password" value="<%= @user.password %>">
  </div>
  <div>
    Confirm Password: <input type="password" name="password_confirmation" value="<%= @user.password_confirmation %>">
  </div>
  
  <div>
    Age: <input type="number" name="age" value="<%= @user.age %>">
  </div>
  <div>
    Gender: <input type="text" name="gender" value="<%= @user.gender %>">
  </div>
  <div>
    City: <input type="text" name="city" value="<%= @user.city %>">
  </div>
  <div>
    State: <input type="text" name="state" value="<%= @user.state %>">
  </div>
  <div>
    Zipcode: <input type="number" name="zipcode" value="<%= @user.zipcode %>">
  </div>
  <div>
    About Me: <textarea name="about_me" id="" cols="30" rows="10"></textarea>
  </div>
  <div>
    Image URL: <input type="url" name="image_url">
  </div>

  <br>
  
  <input type="submit" value="Submit">

<% end %>