<%= form_tag "/logout", method: :get do %>
  <input type="submit" value="Logout">
<% end %> 

<hr>

<h2> Search Wineries Nearby </h2> 
<%= form_tag "/places", method: :get do %>
  <div>
    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= text_field_tag :state %>

    <%= submit_tag "Search" %>
  </div>
<% end %>


<h1> My Dashboard </h1>  

<h4> My Details </h4>  
<!-- user show.html.erb page -->

<p>Username: <%= @user.username %></p> 
<p>Email: <%= @user.email %></p> 
<p>Age: <%= @user.age %></p> 
<p>Gender: <%= @user.gender %></p> 
<p>City: <%= @user.city %></p> 
<p>State: <%= @user.state %></p> 
<p>Zipcode: <%= @user.zipcode %></p> 

<h4> A little bit more about Me </h4>
<p>About Me: <%= @user.about_me %></p> 

<%= image_tag @user.avatar.url(:medium) %>

<hr>

<h3> My Best Furry Friend </h3> 

<% @pets.each do |pet| %>
<p>Pet's Name: <%= pet.name %></p> 
<p>Pet's Gender : <%= pet.gender %></p> 
<p>Pet's Age : <%= pet.age %></p> 
<p>Pet ID : <%= pet.id %></p> 
<%= image_tag pet.avatar.url(:medium) %>

<%= form_tag "/pets/#{pet.id}/edit", method: :get do %>
<input type="submit" value="Edit Pet Profile">
<% end %> 

<% end %>

<hr>


<h3> My Winery Wish List </h3> 
<ol>
  <% @places.each do |place| %>
  <li>
  <p><%= place.name %></p>
  </li>
<% end %>
 </ol>



<%= form_tag "/users/#{@user.id}/edit", method: :get do %>
<input type="submit" value="Edit Your Profile">
<% end %> 

<br>

<%= form_tag "/pets/new", method: :get do %>
<input type="submit" value="Add Pet Profile">
<% end %> 

<br>

<%= form_tag "/users/#{@user.id}", method: :delete do %>
  <input type="submit" value="DELETE ACCOUNT">
<% end %>
