<h1>User Profile Page</h1>  
<!-- user show.html.erb page -->

<p>Username: <%= @user.username %></p> 
<p>Email: <%= @user.email %></p> 
<p>City: <%= @user.city %></p> 
<p>State: <%= @user.state %></p> 
<p>Zipcode: <%= @user.zipcode %></p> 
<p>About Me: <%= @user.about_me %></p> 

<hr>

<% @pets.each do |pet| %>
  <p>Pet Name: <%= pet.name %></p> 
  <p>Gender : <%= pet.gender %></p> 
  <p>Age : <%= pet.age %></p> 
  
<% end %>


<%= form_tag "/users/#{@user.id}/edit", method: :get do %>
  <input type="submit" value="Edit Profile & Preferences">


<% end %> 

