<%= form_tag "/places", method: :get do %>
  <div>
    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= text_field_tag :state %>

    <%= submit_tag "Submit" %>
  </div>
<% end %>



<h1>User Profile Page</h1>  
<!-- user show.html.erb page -->

<p>Username: <%= @user.username %></p> 
<p>Email: <%= @user.email %></p> 
<p>Age: <%= @user.age %></p> 
<p>Gender: <%= @user.gender %></p> 
<p>City: <%= @user.city %></p> 
<p>State: <%= @user.state %></p> 
<p>Zipcode: <%= @user.zipcode %></p> 
<p>About Me: <%= @user.about_me %></p> 

<%= image_tag @user.avatar.url(:medium) %>

<hr>

<h3> My Pets </h3> 

<% @pets.each do |pet| %>
<p>Pet's Name: <%= pet.name %></p> 
<p>Pet's Gender : <%= pet.gender %></p> 
<p>Pet's Age : <%= pet.age %></p> 
<p>Pet ID : <%= pet.id %></p> 
<%= image_tag pet.avatar.url(:medium) %>

<%= form_tag "/pets/#{pet.id}/edit", method: :get do %>
<input type="submit" value="Edit Pet Profile">
<% end %> 

<% end %>



<hr>

<h3> My Wish List </h3> 
<% @places.each do |place| %>
<p><%= place.name %></p>


<% end %>


<%= form_tag "/users/#{@user.id}/edit", method: :get do %>
<input type="submit" value="Edit Your Profile">
<% end %> 

<br>

<%= form_tag "/pets/new", method: :get do %>
<input type="submit" value="Add Pet Profile">
<% end %> 


