<br>
<br>

<!-- Search Form -->
<%= form_tag "/places", method: :get, :class => "form-group g-mb-20" do %>

<div class="form-group g-mb-20">
  <div class="input-group u-shadow-v21 rounded g-mb-15">
    <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" name="city" placeholder="Search City">
    <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" name="state" placeholder="Search State">
    <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">

      <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="Search" value="search">
        <i class="icon-magnifier g-pos-rel g-top-1"></i>
      </button>


    </div>
  </div>
  <!-- <small class="form-text g-opacity-0_8 g-font-size-default">Search any words, questions and so on here.</small> -->
</div>
<% end %>
<!-- End Search Form -->


<h2> Here are some local Wineries to visit!</h2>

<% @businesses.each do |business| %>

<h2><a href="/places/<%=business['id']%>"> <%= business["name"] %> </a></h2>

<img src="<%= business["image_url"] %>" height="35%" width="35%">

<h3> Address: <%= business["location"]["display_address"][0]%>, <%= business["location"]["display_address"][1]%></h3>
<h3> Phone: <%= business["display_phone"] %></h3>
<h3> Price: <%= business["price"] %></h3>
<h3> Ratings: <%= business["rating"] %></h3> 
<h3> API ID: <%= business["id"] %></h3> 





<%= form_tag "/places", method: :post do %>
<%= hidden_field_tag :wineryapi_id, business["id"] %>
<%= hidden_field_tag :name, business["name"] %>
<input type="submit" value="Add this to wish list">
<% end %> 

<hr>

<% end %>
